body{
    background-color: #eee;
}

.App{
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.main-div{
    padding: .2em 0;
    flex-grow: 4;
    height: 100%;
    overflow-y: scroll;
}

.top-div{
    padding: 0 .1em;
}

.bottom-div{
    background-color: #ddd;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 400px);
    grid-column-gap: 10px;
    justify-content: space-evenly;
}

.settings-div{
    border-left: 2px solid #aaa;
    background-color: #d4d4d4;
    width: 15%;
    padding: 15px;
}