body, #root{
    height: 100vh;
    background-color: #fff;
}


.App{
    --main-color: #fff;
    --text-color: #222;
    --focus-color: #eee;
    --border-color: lightgrey;
    --hover-color: rgba(200,200,200,.78);
    --overlay-color: rgba(200,200,200,.78);

    background-color: var(--main-color, #fff);
    color: var(--text-color, #222);
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 100%;
}

.App-dark{

    --main-color: #282828;
    --lighter-fill: #555;
    --text-color: #dadada;
    --focus-color: #444;
    --hover-color: rgba(100,100,100,.78);
    --overlay-color: rgba(50,50,50, 0.788);


    background-color: var(--main-color, #282828);
    color: var(--text-color, #dadada);
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 100%;
    text-align: center;

}

.fixed{
    position: fixed;
}

/*------------ Anti- Materialize colors ------------*/

label {
    font-size: 1rem;
    color: var(--text-color);
}

button{
     border-radius: 15px;
     background-color: var(--lighter-fill,#fff);
     color: var(--text-color, #fff);
     height: 32px;
     margin: 0 6px;
 }

button:focus {
    outline: none;
    background-color: var(--focus-color, #fff);
}

/*---------- Content Styling ---------------*/

.app-content{
    flex-grow: 5;
    display: flex;
    flex-direction: row;
}

.main-div{
    padding: .2em 0;
    flex-grow: 4;
    height: 100%;
}

.main-div-mobile{
    padding: .2em 0;
    flex-grow: 4;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.top-div{
    padding: 0 .1em;
}

.top-div > h1 {
    margin: 10px 0 0 0;
}

.bottom-div{
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(auto-fit, min( 400px, 95%));
    grid-column-gap: 10px;
    justify-content: space-evenly;
}

/* -------- Settings text for inputs so mobile doesn't zoom  -------*/
input, select, select:focus {
    font-size: 16px;
    border: 1.5px solid lightgrey;
    border-radius: 8px;
}



/* -------- Styles for settings div and compoments inside  -------*/

.settings-container{
    width: 235px;
    /*background-color: #d4d4d4;*/
    height: 100%;
    position: sticky;
    top: 8%;

}

.settings-container-mobile{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 8;
    left: 0;
    top: 0;
    background-color: var(--overlay-color);
    overflow-x: hidden;
    transition: 0.3s;
    align-items: center;
    justify-content: center;
}

.settings-container-mobile > .settings-div{
        margin: 10% auto;
        width: 70%;
        max-width: 500px;
}

.settings-div {
    width: 235px;
    background-color: var(--main-color);
    padding: 15px;
}


.settings-div > * > * {
    margin-bottom: 15px;
}

.radio-button{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.flex-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.width-30{
        width: max(30%,50px);
}

.asc-desc{
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 2px solid lightgrey;
}


/* -------- Search Component styles --------- */
.search-component{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-bottom: 5px;
    padding: 0 12px;
}

.search-bar{
    background-color: var(--main-color);
    width: min(70%, 600px);
    height: 32px;
    border-radius: 16px;
    align-items: center;
    margin-left: 10px

}

.search-component h5 {
    margin:0;
}
 .search-bar > input{
    width: 100%;    
    height: 32px;
    border-radius: 16px;
    padding:17px;
    background-color: var(--lighter-fill, #fff);
    color: var(--text-color, #fff);
 }

 .search-bar > input:focus{
    outline: none !important;
 }


 .clear-search:focus {
    outline: none;
}

/* -------- Individual Song Card Styles--------- */
.song-card{
    text-align: left;
    padding-left: 10px;
    border: 1px solid lightgrey;
    border-radius: 8px;
    position: relative;
    margin: .5rem 0 1rem 0;
    background-color: var(--main-color);
}

/*----------- Navigation Styles ---------*/

.my-navbar{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5%;
    z-index: 35;
    border-bottom: 1.5px solid lightgrey;
    background-color: var(--main-color);
    height: 46px;
}

.my-navbar > .links{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    min-width: 400px;
    margin: 0;
    padding: 5px auto;
}

.icon{
    margin:0;
}

.hamburger-div div {
    width: 28px;
    height: 3.5px;
    background-color: var(--text-color, #222);
    margin: 5.5px 0;
}

.mobile-side-container{
    position: absolute;
    top: 46px;
    height: 100%;
    width: 220px;
    z-index: 214;
    left: -1000px;
    transition: left .7s cubic-bezier(0, 0.96, 0.82, 1);
    display:flex;
    flex-direction: row;
}

.mobile-side-div{
    float: left;
    background-color: var(--main-color);
    border-right:1.5px solid var(--border-color, lightgrey);
    height: 100%;
    width: 220px;
}

.mobile-side-div .links{
    text-align: left;
    margin: 10%;
    font-size: 1.5rem;
}

.links a{
    display: block;
    height: 46px;
    padding: 12px;
    font-weight: 700;
}

.links div{
    font-weight: 500;
}



.links a:hover{
    background-color: var(--hover-color);
}

.mobile-side-div .links li{
    margin-bottom: 5px;

}

.mobile-side-div .links div{
    margin-top:20px
}


.menu-open{
    left:0;
    width: 100%;
    position: fixed;
}

.close-div-open{
    flex-grow: 5;
    height: 100%;
}


/*--------- Switch Colors-------------*/

.switch label input[type=checkbox]:checked+.lever {
    background-color: #0c8dcc;
}

.switch label input[type=checkbox]:checked+.lever:after {
    background-color: #273d61;
}

.switch label{
    display: flex;
    align-items: center;
}